.lineup {
  box-shadow: inset 0 8px 6px -6px $black;
  background: $secondary;

  .container {
    @include bp-medium {
      display: flex;
      flex-wrap: wrap;
    }

    @include bp-large {
      max-width: 1280px;
    }
  }
}

.band {
  width: 100%;
  height: 250px;
  margin: 5% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 2%;
  border: 1px solid $white;

  .logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include bp-medium {
    flex: 1 0 240px;
    margin:2.5% 0;

    &:nth-child(2n+3) {
      margin-left: 5%;
    }

    &:first-child {
      max-width: 100%;
      width: 100%;
      flex: 1 1 900px;
      margin-top: 2.5%;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 2.5%;
    }

  }

  @include bp-extra-medium {
    flex: 1 0 340px;
  }

  @include bp-large {
    flex: 1 0 415px;
    border: 1px solid $white;

    * {
      transition: all .5s ease;
    }

    &:hover .divider {
      width: 80%;
      height: 3px;
      background: $tertiary;
      margin: 10px 0;
    }

    &:hover img{
      filter: blur(10px);
    }

    &:hover .band-info {
      @include background-opacity($primary, 0.7);
    }

    &:hover .band-info > * {
      opacity: 1;
    }
  }
}

.band-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include background-opacity($primary, 0.7);
  border-top: 1px solid $white;

  @include bp-large {
    border-top: none;
    height: 100%;
    @include background-opacity($black, 0);

    .band-name {
      font-size: 3em;
    }

    .band-genre {
      font-size: 1.5em;
    }

    & > * {
      opacity: 0;
    }
  }
}
