// Reset
@import 'reset';

// Variables
$primary: rgb(127, 78, 133);
$secondary: rgb(51, 51, 51);
$tertiary: rgb(189, 189, 189);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Mixins
@mixin bp-medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-extra-medium {
  @media only screen and (min-width: 860px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

// Partials

@import 'base';
@import 'header';
@import 'info';
@import 'lineup';
@import 'modal';
@import 'travel';
