* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a,
a:hover,
a:focus,
a:visited {
  color: #FFF; }

.img {
  max-width: 100%;
  max-height: 100%; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2% 5%; }

body {
  font-family: 'Marcellus SC', serif;
  color: #fff;
  text-align: center; }

main {
  width: 100%; }

footer {
  padding: 1% 0;
  background: #333; }

footer > a {
  color: #FFF;
  text-decoration: none; }

.countdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  color: #FFF;
  font-weight: bold;
  font-size: 2em;
  z-index: 100;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .countdown {
      transform: rotate(-45deg);
      width: 350px;
      top: 45px;
      left: -92px; } }

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #hero h3 {
    font-size: 1.8em; }

.dblogo {
  width: 75%;
  max-width: 1024px;
  margin: 17.5% auto; }
  @media screen and (min-width: 768px) {
    .dblogo {
      margin: 5% auto; } }

.arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
  width: 50px;
  margin-left: -25px; }

.social {
  background: #BDBDBD;
  padding: 1% 0;
  color: #333; }
  .social a {
    color: #333; }

.lineup {
  box-shadow: inset 0 8px 6px -6px black; }

.info {
  box-shadow: 0 -8px 6px -6px black; }

.lineup {
  background: #333; }

.band {
  width: 100%;
  height: 250px;
  margin: 5% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 2%;
  border: 1px solid #FFF; }

.band-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(127, 78, 133, 0.7); }
  @media screen and (max-width: 1024px) {
    .band-info {
      border-top: 1px solid #FFF; } }

.logo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 768px) {
  .lineup .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%; }

  .band {
    flex: 1 0 240px;
    margin: 0;
    margin-bottom: 5%; }

  .band:nth-child(2n+3) {
    margin-left: 5%; }

  div[data-id="0"] {
    max-width: 100%;
    width: 100%;
    flex: 1 1 900px;
    margin: 5% auto; } }
@media screen and (min-width: 860px) {
  .band {
    flex: 1 0 340px; } }
@media screen and (min-width: 1025px) {
  .lineup .container {
    max-width: 1280px; }

  .band,
  .band img,
  .band-info,
  .band-info > * {
    transition: all .5s ease; }

  .band {
    flex-basis: 415px;
    border: 1px solid #fff; }

  .band-info {
    height: 100%;
    background: transparent; }

  .band-name {
    font-size: 3em; }

  .band:hover .divider {
    width: 80%;
    height: 3px;
    background: #BDBDDB;
    margin: 10px 0; }

  .band-genre {
    font-size: 1.5em; }

  .band-info > * {
    opacity: 0;
    /*color: #333;*/ }

  .band:hover img {
    filter: blur(10px); }

  .band:hover .band-info {
    background: rgba(127, 78, 133, 0.7);
    /*background: rgba(51,51,51,0.8);*/ }

  .band:hover .band-info > * {
    opacity: 1; } }
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  padding: 2%; }

.modal-content {
  background: #333;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2%; }
  @media (min-width: 992px) {
    .modal-content {
      max-width: 992px;
      max-height: 600px; } }

.modal-info {
  background: rgba(127, 78, 133, 0.7); }
  .modal-info h1,
  .modal-info p {
    text-shadow: 0 0 10px #000; }

.modal-photo {
  width: 100%;
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.modal-links {
  flex: 0 0 80px;
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-links .btn {
    font-weight: bold;
    font-size: 1.3em;
    width: 150px;
    line-height: 1.5;
    justify-content: center;
    padding: 0.150em 0.75em;
    border-radius: 5px;
    border: 1px solid #FFF;
    text-decoration: none;
    background: rgba(127, 78, 133, 0.4); }
    .modal-links .btn:hover, .modal-links .btn:focus {
      transition: background .5s ease;
      background: rgba(127, 78, 133, 0.9); }
    .modal-links .btn:first-child {
      margin-right: 10%; }

.modal-bio {
  flex: 1 0 0;
  overflow-y: auto;
  padding: 0 5%; }

.close {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 4em;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #BDBDBD;
    text-decoration: none;
    cursor: pointer; }

.info {
  background: #7F4E85; }

.col {
  padding: 2% 0; }
  @media screen and (min-width: 768px) {
    .col {
      display: flex;
      justify-content: space-around; } }

.transport {
  margin: 2.5% 0;
  background: rgba(51, 51, 51, 0.7);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 2%; }
  .transport h3 {
    margin-bottom: 1%; }
  @media screen and (min-width: 768px) {
    .transport {
      height: 180px;
      margin: 0;
      width: 33%; }
      .transport:nth-of-type(2) {
        margin: 0 2.5%; }
      .transport h3 {
        margin-bottom: 5%; } }

iframe {
  width: 100%; }

.fest-info,
.col,
.map {
  margin: 1% 0; }

/*# sourceMappingURL=main.css.map */
