* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: auto;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background: blue;*/
  position: absolute;
  /*top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  background: red;
}

.band {
  width: 100%;
  text-align: center;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
  padding: 2%;
}

.modal-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fefefe;
  width: 80%;
  margin: 0 auto;
}

.close {
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
